.project-detail-background {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 150px;
}

.project-detail-title {
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.project-description {
    font-size: 20px;
    color: #f0f0f0;
}